/* Ashley Kuehl, GEOG 575, Lab 2, Activity 11, 4/15/2020 */


#title{
  font-family:sans-serif;
  font-size: 50px;
  height:20%;
  width: 100%;
  background: #08519c;
  opacity: 0.8;
  color:white;
  text-align: left;
  line-height: 1;
  letter-spacing: 8px;
  text-shadow:3px 2px black;
  padding: 10px 10px 10px 20px;
  display: inline-block;
}

#contextPanel{
  height:30px;
  width:100%;
  font-family: arial;
  font-size:25px;
  background: #c6dbef;
  padding: 10px 10px 10px 20px;
}

.dataSource{
  font-family:sans-serif;
  font-size: 15px;
  opacity: 0.7;
  color:#08519c;
  padding: 0px 0px 0px 20px;
  display: left;
}


.states_provinces{
  fill:#f0f0f0;
  stroke:#CCC;
  stroke-width: 2px;
}

.counties {
  stroke: #000;
  stroke-width: 0.5px;
  stroke-linecap: round;
}

.map {
  border: medium solid #999;
  margin: 10px 0 0 20px;
}

.chart {
  margin: 10px 20px 0 20px;
  display: inline-block;
}

.chartBackground{
  fill: rgba(128,128,128,.2);
}

.chartFrame{
  fill: none;
  stroke: #999;
  stroke-width: 3px;
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: #999;
  stroke-width: 1px;
  shape rendering: crispEdges;
}

.axis text{
  font-family: sans-serif;
  font-size: 0.8em;
  fill:#999;
}

/* would keep if annotaing bar chart with numbers */
/* .numbers {
  fill: white;
  font-family: sans-serif;
} */

.chartTitle{
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

.dropdown {
  position: absolute;
  top: 160px;
  left: 40px;
  z-index: 10;
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  padding: 2px;
  border: 1px solid #999;
  box-shadow: 2px 2px 4px #999;
}

option {
  font-weight: normal;
}


.infolabel{
  margin: 0 20px 0 0;
  position: absolute;
  height: 50px;
  min-width: 100px;
  color: #fff;
  background-color: #000;
  border: solid thin #fff;
  padding: 5px 10px;
  top: - 75px;
}

.infolabel h1 {
  margin: 0 5px 0 0;
  padding: 0;
  display: inline-block;
  line-height: 1em;
}
